<h2>Hi <%= @guest.name %></h2>

<h3>We are happy to invite your family to celebrate Zakhar's birthday party with us</h3>
<p>Please check the links below and let us know if you are going to join us.</p>

<ul>
  <li><%= link_to image_tag("where.jpg") %></li>
  <li><%= link_to image_tag("where.jpg") %></li>
  <li><%= link_to image_tag("where.jpg") %></li>
</ul>