// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: image-url('jurassic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, p {
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.link_pic {
  width: 120px;
}

.shelter {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-list {
  width: 35px;
}

.main-block {
  margin-bottom: 20px;
}

.visit-no {
  margin-left: auto;
  margin-right: auto;
}

.fireworks {
  width: 60%;
}

a, a:visited {
  color: white;
}

.free-space {
  margin-top: 50px;
}